@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #FFFFFF;
}

/* main-container-section */
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* top-section Start */
.top-container{
    background: #2D25A0;
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    grid-column-gap: 102px;
    padding: 150px;
    margin: 0;
}

                     /* top-left-section */

.top-left .top-heading{
    color: #FFFFFF;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 25px;
}

button{
    Width: 168px;
    Height: 44px;
    padding: 10px 24px;
    background-color: #E02C6D;
    transition: transform .5s ease-in-out;
    
}

button a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}

.btn-icon{
    font-weight: 900;
    color: #FFFFFF;
    margin-left: 10px;
}

button:hover {
    transform: scale(1.3);
    border-radius: 15px;
   background-image: linear-gradient(rgb(175, 18, 223),rgb(226, 20, 55));
}

                       /* top-right-section */

.top-right img{
    width: 556px;
    height: 438px;
    width: 100%;
    transition: transform .5s ease-in-out;
}

.top-right img:hover{
    transform: scale(1.2);
    
}

/* Top-section-end */

.players-list{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;

}

.players-list article{
    width: 330px;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.article-image img{
    width: 100%;
}

.players-name{
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 0;
}

.article-details{
    font-weight: 100;
    font-size: 16px;
    color: rgba(108, 108, 108, 1);
    margin-top: 10px;

}

/* favourite-player section */
.favourite-players, .player-checkbox, .reg-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fvrt-player-heading{
    color: #1fcc98;
}

.player-checkbox{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin-top: 50px;
    padding: 20px;
}

.reg-form{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin-top: 50px;
    padding: 20px;
}

/* footer section */
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 158px;
}

.footer-logo{
  
}

.footer-logo img{
    width: 100%;
    height: 110px;
}

.footer-info{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-icons .filled{
    background: #d2d3d8;
    color: #8d909b;
    font-size: 17px;
    padding: 7px;
    border-radius: 50%;
    margin-left: 14px;
}

.filled:hover{
    transform: scale(1.5);
    transition: transform .3s ease-in-out;
}

.copyright-heading{
    font-weight: 100;
    font-size: 16px;
    color: rgba(108, 108, 108, 1);
}


/*------- media queries
-------- -----------------*/

    /* phone-devices */

@media only screen and (max-width:688px) {
    .main-container, .footer-container{
        width: 100%;
    }

    .top-container{
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 50px;
    }

   .players-list, .footer-container{
        grid-template-columns: repeat(1,1fr);
    }
    
    .favourite-players{
        width: 100%;
    }
}


    /* Tablets */

@media only screen and (min-width:689px) and (max-width:992px) {
    .main-container, .footer-container{
        width: 100%;
    }

    .players-list{
        grid-template-columns: repeat(2,1fr);
    }
    .top-container{
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 50px;
    }
}       


